*{
    margin: 0;
    padding: 0;
}
.container{
     height: 700px;
     /* width: 900px; */
     background-color: rgb(2, 55, 68);
     display: grid;
     /* grid-template-rows: 132px 132px 132px; */
     /* grid-template-columns: 132px 132px 132px; */
     /* grid-template-columns: repeat(3 1fr);
     grid-template-rows:repeat(3 1fr) ; */

     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 43px 1fr 43px ;
     row-gap: 12px;
     column-gap: 12px;
     place-items: center;
}
.item{
 /* height: 122px; */
    width: 122px; 
    background-color: rgb(248, 186, 94);
    /* margin: 15px; */
}
.item1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column:1 / span3;
    background-color: black;
    color: white;
    width: 100vw;
}
.item2{
    /* justify-self: center;
    align-self: center; */
    place-items: center;;
}
.footer{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: black;
    color: white;
    width: 100vw;
}
